{% extends 'main/layout.html' %}
{% load static%}
{% block title %}Персанажи{% endblock %}

{% block content %}
 <script src="{% static 'main/js/characters.js' %}" defer></script>
    <div class="characterBlock"></div>
    <br>
    <div class="description">
        <div class="description_img">
            <div class="status_characters"></div>
            <img src="{% static 'main/img/defaultPhoto.png' %}" alt="" class="info_img">
        </div>

        <div class="info">
            <span>Name: </span>
            <p>Gender: </p>
            <p>Species: </p>
            <p>Status: </p>
        </div>
    </div>

{% endblock %}

