{% extends 'main/layout.html' %}
{% load static%}
{% block title %}Каталог{% endblock %}
{% block content %}

 <script src="{% static 'main/js/market.js' %}" defer></script>
    <main>
        <div class="bak">
            <div class="l"></div>
            <div class="mid">
                <menu class="menu Over"  >
                    <div class="overButt" type="over" id="6">акксесуары</div>
                    <div class="overButt" type="over" id="7">футболки</div>
                    <div class="overButt" type="over" id="8">худи</div>
                    <div class="overButt" type="over" id="9">толстовки</div>
                </menu>
                <div class="content_market"></div>
                <menu class="menu Under" >
                    <div class="underButt" type="under" id="1">Rick</div>
                    <div class="underButt" type="under" id="2">Morty</div>
                    <div class="underButt" type="under" id="3">Bet</div>
                    <div class="underButt" type="under" id="4">summer</div>
                    <div class="underButt" type="under" id="5">jerry</div>
                </menu>
            </div>
            <div class="r">
                <button class="but_right"></button>
                <button class="but_Mid"></button>
                <button class="but_left"></button>
            </div>
        </div>
        <div class="blackBlock">
            <div class="preview">
                <img src="" alt="">
                <div class="preview_info">
                    <h4>name</h4>
                    <h4>color</h4>
                    <h4>size</h4>
                    <h4>cell</h4>
                    <button>Add</button>
                </div>
                <div style="width: 13px; position: relative; bottom: 10px" >
                    <div class="close"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}