{% extends 'main/layout.html' %}
{% block title %}Каталог{% endblock %}

{% block hider %}
    <button class="font card_bg" >Card</button>
{% endblock %}
{% block content %}
    <main>
            <div class="bak">
                <div>
                    <h1 class="cotegor_text font">categories</h1>
                    <ol>
                        <li><a href="" class="fontM">t-shirts</a></li>
                        <li><a href="" class="fontM">sweatshirts</a></li>
                        <li><a href="" class="fontM">Wrap</a></li>
                        <li><a href="" class="fontM">backpacks</a></li>
                    </ol>
                </div>
            </div>
        </main>
{% endblock %}